# Application Kconfig file
#
# This is loaded when building this directory with west.
menu "Memfault Example Application Configuration"

# Override the MCUBOOT image version to exactly match the version reported
# to Memfault
config MCUBOOT_IMGTOOL_SIGN_VERSION
    default MEMFAULT_BUILTIN_DEVICE_INFO_SOFTWARE_VERSION
endmenu

source "Kconfig.zephyr"
